* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-size: 150px;
    background-color: rgb(95, 142, 196);
    color: white;
    display: inline;
    padding: 15px;
    border: 15px dotted white;
}

.button {
    background-color: rgb(201, 212, 96);
    font-weight: 700;
    font-size: 50px;
    margin: 30px;
}