* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.title {
    /* Style */
    font-size: 150px;
    background-color: rgb(95, 142, 196);
    color: white;
    /* Box model */
    padding: 15px;
    border: 15px ridge black;
    margin: 15px;
}

.button {
    /* Style */
    background-color: #e4f73c;
    font-weight: 700;
    font-size: 50px;
    /* Box Model */
    margin: 30px auto;
    padding: 15px;
    border: 15px ridge black;
    /* Size */
    box-sizing: border-box;
    width: 500px;
    height: 125px;
}